*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 25px 50px;
    font-size: 17px;
    padding: 4px;
}

.container{
    background-color: hsla(0, 9%, 86%, 0.938);
    padding: 5px 12px;
    border: 1px solid lightgray;
    border-radius: 10px;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"]
select,
textarea {
    width: 100%;
    padding: 12px 6px;
    margin: 10px 5px;
    border: 1px solid black;
}
fieldset{
    background-color:white;
}

h1{
    text-align: center;
}
input[type="submit"]{
    background-color: #85cf5a;
    border: none;
    width:100%;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(230, 179, 11);
}